@import '../../styles/index.scss';

$grey-white: #a5a2a2;

.list-collection__pagination {
  background: transparent;
  width: 90%;
  margin-top: 10px;
  // margin: 20px 65px 15px;
}
.custom-pagination {
  // margin: -4px;
  // margin-top: 2.5rem;
  margin-right: 1.5rem;
  margin-bottom: 1rem;
  float: right;
  // border: 0.2px solid rgba(0, 0, 0, 0.2);

  > li[class*='page-item'] {
    margin: 4px;

    @include respond(xs) {
      margin: 2px;
    }

    > *[class*='page-link'] {
      border-radius: 1000px;
      min-width: 35px;
      min-height: 35px;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      transition: all 0.25s ease-in-out;
      background-color: $background-color;
      border-color: $black-text-color;
      color: $white-color;
      // color: #000;

      @include respond(xs) {
        min-width: 23px;
        min-height: 23px;
        font-size: 12px;
        width: 27px;
        height: 27px;
      }

      &:hover,
      &:focus {
        transform: scale(1.1);
        color: white;
      }
    }

    &[class*='active'] > *[class*='page-link'] {
      background: $background-color;
      border-color: $green-color;
    }
  }
}

.page-item.disabled {
  > & .page-link {
    span {
      font-size: 15px;
    }
  }
}
