@import '../../../styles/index.scss';
.intraday_strategy {
  // background-color: $light-green-color;
  position: relative;
  &::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: url('/assets/svg/landing/trading_bg.svg');
    background-size: cover;
    opacity: 0.3;
    left: -25px;
  }
  .innr_intraday_strategy {
    position: relative;
    .strategy_container {
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;

      .strategy {
        width: 45%;
        align-items: center;
        margin: 15px 0;
        @include respond(md) {
          width: 80%;
        }
        @include respond(sm) {
          width: 90%;
        }
        @include respond(xs) {
          flex-direction: column;
          text-align: center;
        }
        span {
          margin-left: 15px;
          @include respond(xs) {
            margin-top: 10px;
          }
          h5 {
            font-weight: 600;
          }
        }
      }
    }
  }
}
