@import '../../../styles/index.scss';
.we_are_dream {
  overflow: hidden;
  background-color: #e6ecf0;
  .innr_dream {
    @include respond(mmd) {
      justify-content: center;
    }
    .dream_content {
      padding-left: 55px;
      position: relative;
@include respond(mmd) {
         
          padding-left: 0;
        }
      .content {
        text-align: right;
        @include respond(mmd) {
          text-align: center;
         
        }
        h1 {
          width: 90%;
        }
      }
      .small_heading {
        // margin-left: 15px;
        width: 90% !important;
      }
      .dream_text {
        width: 90%;
        @include respond(mmd) {
          width: 100%;
          text-align: center;
        }
      }
      button {
        position: relative;
        right: 10%;
      }
    }
    .dream_image {
      position: relative;
      display: flex;
      justify-content: center;
      .dream_img {
        position: relative;
        width: 650px;
        height: 400px;
        border-radius: 15px;
        overflow: hidden;
        @include respond(mmd) {
          display: none;
          width: 100%;
          height: 350px;
        }
        @include respond(sm) {
          height: 350px;
        }
        @include respond(xs) {
          width: 100%;
          height: 250px;
          border-radius: 5px;
        }
      }
      &::before {
        position: absolute;
        content: '';
        left: -30%;
        top: -16%;
        width: 600px;
        height: 550px;
        background: $blue-color;
        border-radius: 50px;
        transform: rotate(-167deg);

        @include respond(lg) {
          height: 450px;
          top: -3%;
          left: -0%;
          transform: rotate(0);
        }
        @include respond(md) {
          display: none;
        }
      }
    }
  }
}
