@import '../../../styles/index.scss';

.banner_slider {
  // min-height: 500px;
  // min-height: 350px;
  height: 350px;
  @include respond(xxxl) {
    height: 350px;
  }
  @include respond(xl) {
    height: 300px;
  }
  @include respond(md) {
    height: 230px;
  }
  @include respond(sm) {
    height: 190px;
  }

  .slider-section {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
    width: 100%;
    max-width: 1920px;
    .overlap-group {
      width: 100%;
      height: 100%;
      margin: 0;
      position: relative;
      .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
      // > img {
      //   width: 100%;
      //   margin: auto;
      //   display: block;
      //   object-fit: cover;
      //   opacity: 1;
      //   aspect-ratio: '211 / 35';
      // }
    }
  }
}

.content-first-1 {
  // position: relative;
  // display: flex;
  // justify-content: center;
  // align-items: stretch;
  // background-size: cover;
  width: 100%;
  justify-content: center;
  display: flex;
  background-color: #e7f1ff;
}

.content-first-1-bg {
  width: 100%;
  object-fit: cover;
  max-height: 30vh;
  vertical-align: middle;
}
