$blue-color: #023d6d;
$green-color: #00b666;
$background-color: #000000;

$light-green-color: #ccf0e0;
$content-text-color: #c4c4c4;
// $main-bg-color: #dd3e3e;
$white-color: #ffffff;
$black-text-color: #0e0e0e;
$image-bg-color: #b9b8b848;
$white-input-color: #fff;
$light-text-color: #b5b8bd;
