$logo-button-color: #6c3483;
$theme-color: linear-gradient(91deg, #690095 9.91%, #cd407b 53.29%, #78006c 91.56%);
// $main-bg-color: #dd3e3e;
$white-text-color: #ffffff;
$black-text-color: #0e0e0e;
$image-bg-color: #b9b8b848;
$product-title-color: #3d3d3d;
$footer-background-color: #23849c;
$footer-list-color: #c2bfbfec;
$white-bg-color: #fff;
$light-text-color: #637381;
$max-width: 1600px;

$light-input-color: #b5b8bd;
