$blue-color: #023d6d;
$green-color: #00b666;
$light-green-color: #ccf0e0;
$content-text-color: #666666;
// $main-bg-color: #dd3e3e;
$white-text-color: #ffffff;
$black-text-color: #0e0e0e;
$image-bg-color: #b9b8b848;
$light-input-color: #b5b8bd;
