@import '../../../styles/index.scss';
.enquiry_container {
  @include respond(md) {
    width: 90%;
  }
  @include respond(sm) {
    width: 95%;
  }
  p,
  h1,
  form {
    width: 75%;
    @include respond(sm) {
      width: 100%;
    }
  }
}
.enquiry_image {
  position: relative;
  display: flex;
  width: 90%;
  height: 500px;
  border-radius: 20px;
  overflow: hidden;
  @include respond(lg) {
    height: 400px;
  }
  @include respond(md) {
    height: 350px;
    display: none;
  }
}
