@import '../../../../styles/index.scss';

.maincontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.divcontainer {
  padding-inline: 40px;

  padding-left: 12%;

  width: 80%;
  justify-content: center;
  padding: 10.548px 21.095px;
  align-items: center;
  gap: 10.548px;
  flex-shrink: 0;
  border-radius: 10.548px;
  border-bottom: 1px solid #adff14;
  background: #181818;
  box-shadow:
    0px 1.318px 2.637px 0px #232329,
    0px 0px 0px 1.318px #272729;

  @include respond(xl) {
    width: 95%;
    padding: 10px;
  }
}
.datacontainer {
  color: #ffff;
  width: 100%;
  text-align: left;
  column-gap: 50px;
  div {
    display: flex;
    flex-wrap: wrap;
    @include respond(xs) {
      flex-direction: column;
    }
    p {
      width: 50%;
      display: flex;
      align-items: center;

      @include respond(lg) {
        flex-direction: column;
        justify-content: center;
      }
      @include respond(xs) {
        flex-direction: row;
      }
      @include respond(xxs) {
        flex-direction: column;
      }
      span {
        @include respond(xl) {
          display: block;
          text-align: left;
          @include respond(xs) {
            width: 50%;
          }
        }
      }
    }
  }
}

.fontwrightMedium {
  font-weight: 500;
  margin-right: 0px;
  width: 100px;
  margin-left: 20px;

  display: flex;
  @include respond(xs) {
    margin-left: 0;
    width: 180px !important;
  }
  @include respond(xxs) {
    width: 100% !important;
    text-align: center;
  }
}

.fontwrightextralight {
  font-weight: 200;
  @include respond(xxs) {
    width: 100% !important;
    text-align: center;
    margin-top: 5px;
  }
}
