@import '../../styles/index.scss';
.basic_rule {
  padding: 0%;
  margin: 0%;
}
.innnr_basic_rule {
  margin: 0%;
  @include respond(md) {
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    gap: 30px;
  }
}
.about_left {
  flex-direction: column;
  width: 50%;
  align-items: flex-start !important;
  @include respond(md) {
    width: 100%;
    height: auto;
    justify-content: center;
  }
}
.about_left_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 100px;
  @include respond(md) {
    padding: 50px;
  }
}
.heading {
  width: 100%;
  height: auto;
  color: white;
  text-align: center;
}
.about_description {
  text-align: center;
  color: #b9b9b9;
  @include respond(md) {
    flex-direction: column;
  }
}
.about_image_left {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  display: flex;
  justify-content: left;
  position: relative;
}
.about_image_back {
  border-radius: 0px, 50px, 50px, 0px;
  border: 20px;
  display: flex;
}
.about_image {
  border-radius: 20px;
  display: flex;
  position: absolute;
  top: 46px;
  left: 120px;
}
.about_right {
  display: flex;
  flex-direction: column;
  width: 50%;
  @include respond(md) {
    width: 100%;
    height: auto;
    justify-content: center;
  }
}
.about_right_content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-content: center;
  padding: 100px;
  @include respond(md) {
    padding: 50px;
  }
}
.about_image_right_outter {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: right;
}
.about_image_right_back {
  width: 500px;
  height: 400px;
  border-radius: 0px, 50px, 50px, 0px;
  border: 20px;
  display: flex;
}
.about_image_right {
  // width: 500px;
  // height: 300px;
  border-radius: 20px;
  display: flex;
  overflow: hidden;
  position: absolute;
}
// @include respond(md) {
// margin-top: 150px;}

// @include respond(sm) {
//   margin: 0;
// }
