@import '../../../styles/index.scss';
.advantages {
  padding-top: 00;
  h1 {
    @include respond(xs) {
      width: 80%;
      text-align: center !important;
    }
  }
  .advantges_content {
    width: 50%;
    text-align: center;

    @include respond(sm) {
      width: 80%;
    }
  }
  .innr_advantages {
    width: 90%;
    justify-content: space-between;
    align-items: flex-start;
    .advantages_conainer {
      width: 43%;
      padding: 40px 0;
      align-items: flex-start;
      @include respond(mmd) {
        width: 45%;
      }
      @include respond(sm) {
        width: 90%;
      }
      .image_part {
        position: relative;
        display: flex;
        justify-content: center;
        @include respond(mmd) {
          width: 500px;
          height: 300px;
          display: none;
        }
        .segments_img {
          display: block;
          position: relative;
          width: 300px;
          height: 300px;
          border-radius: 15px;
        }
      }
      &:nth-child(odd) {
        .image_part {
          display: flex;
          justify-content: flex-start;
          .segments_img {
            width: 90%;
            margin-top: 0;
          }
          @include respond(mmd) {
            display: none;
          }
        }
      }
      &:nth-child(even) {
        @include respond(md) {
          justify-content: space-between;
        }
        @include respond(mmd) {
          justify-content: center;
        }
        .image_part {
          order: 1;
          display: flex;
          justify-content: center;
          @include respond(mmd) {
            display: none;
          }
        }
        .content {
          order: 2;
        }
      }
      .content {
        h2 {
          @include respond(xl) {
            font-size: 23px;
          }
        }
      }
      .advisory_text {
        li {
          margin: 5px 0;
        }
      }
    }
  }
}
