@import '../../styles/index.scss';

.main_navbar {
  background-image: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  flex-shrink: 0;
  position: fixed;
  z-index: 1000;
  top: 0px;
  left: auto;
  right: 0px;
  color: inherit;
  box-shadow: none;
  min-height: 80px;
  align-items: center;
  justify-content: center;
  background: $admin_navbar_bg;
  &.admin_navbar {
    background: $admin_navbar_bg;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    .inner_navbar {
      @include respond(md) {
        width: 85%;
        .Menues {
          width: 120%;
          left: -9%;
          background-color: #02160d;
        }
      }

      @include respond(sm) {
        .company_name {
          margin-left: 15px;
        }
      }
      @include respond(xms) {
        .show_navbtn {
          position: absolute;
          right: -20px;
          top: 20%;
        }
        .Menues {
          top: 80px;
        }
      }
    }
  }
}

.main_navbar {
  // position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.anchor_dec {
  text-decoration: none !important;
  color: #000;
}

.no_marging_padding {
  margin: 0;
  padding: 0;
}

.navbar {
  height: 100px;
  background: $admin_navbar_bg;
  position: relative;
  z-index: 99;
}

.inner_navbar {
  height: 100%;
  width: 90%;
  flex-wrap: wrap;
  justify-content: space-between !important;
  max-width: 1400px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  @include respond(md) {
    width: 100%;
  }
  @include respond(xms) {
    flex-direction: column;
  }
}

.company_name {
  img {
    @include respond(xs) {
      width: 150px;
    }
  }
}

.Menu_List {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 1170px;
  width: 65%;
  @include respond(lg) {
    width: 75%;
  }
  @include respond(md) {
    width: auto;
  }
  @include respond(sm) {
    margin-left: 0;
  }
  @include respond(xs) {
    .appointment_btn {
      font-size: 8px;
    }
  }
  @include respond(xms) {
    width: 100%;
  }
}

.single_menue {
  width: auto;
  margin: 0 15px;
  height: 100%;
  strong {
    padding-inline: 10px;
  }
  @include respond(md) {
    height: auto;
    margin-top: 15px;
  }
  @include respond(xxs) {
    margin: 0 4px;
  }
  .anchor_dec {
    text-decoration: none;
    height: 100%;
    color: $black-text-color;
    font-weight: 500;
    @include respond(xxs) {
      font-size: 13px;
    }
  }
}
.nav_border {
  position: relative;
  z-index: 99;
}

.Menues {
  width: auto;
  margin: 0 !important;
  padding: 0 !important;
  cursor: pointer;
  @include respond(md) {
    // display: none;
    position: absolute;
    width: 100%;
    left: 0;
    display: block;
    top: 75px;
    background: $background-color;
    height: 0px;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    &.show_mainnav {
      height: 250px;
      transition: all 0.5s ease-in-out;
    }
    @include respond(xms) {
      top: 120px;
      .single_menue {
        margin-top: 10px;
        &:nth-child(1) {
          margin-top: 20px;
        }
        &:last-child {
          margin-top: 20px;
        }
      }
    }
  }
}

.single_menue > a {
  font-size: 15px;
  // font-weight: 550;
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 100%;
}

.single_menue > span {
  font-weight: bold;
  padding-inline: 10px;
}
.showmenu_btn {
  display: flex;
  align-items: center;
  z-index: 99;
  @include respond(xms) {
    width: 98%;

    justify-content: space-between;
  }
  button {
    display: none;
    @include respond(md) {
      display: flex;
    }
    img {
      margin-left: 15px;
      margin-top: 8px;
      cursor: pointer;
    }
  }
}
// archana_css

.book {
  @include respond(md) {
    display: none;
  }
}
.appointment_btn {
  text-wrap: nowrap;
  margin-left: 15px;
}

.menu_dropdown_button {
  width: 100px;
  height: 40px;
  background: transparent;
  border-radius: 5px;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  left: 25px;
  top: 35px;
  position: absolute;

  @include respond(xl) {
    display: flex;
  }
  @include respond(md) {
    display: inline;
  }
}

.client__lists {
  @include respond(md) {
    flex-wrap: wrap !important;
    .client_single_lists {
      width: 100% !important;
    }
    .client_logout {
      width: 100%;
      justify-content: flex-start;
      margin-bottom: 15px;
    }
  }
}
