@import '../../../../styles/index.scss';
.form_enquiry {
  @include respond(md) {
    margin-top: 25px;
  }
  .input_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    span {
      display: block;
      width: 46%;
      @include respond(mmd) {
        width: 48%;
      }
      @include respond(xs) {
        width: 100%;
      }
    }
  }
  .checkbox {
    display: flex;
    align-items: center;
    input[type='checkbox'] {
      height: 15px;
      width: 15px;
      accent-color: $green-color;
    }
    label {
      margin-left: 8px;
    }
  }
  .enquiry_btn {
    @include respond(md) {
      width: 100%;
    }
  }
}
