@import '../../../styles/index.scss';

.maincontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.infocontainer {
  width: 716px;
  min-height: 493px;
  flex-shrink: 0;
  border: solid 1px $green-color;
  border-radius: 10px;
  border: 1px solid #00b666;
  background: #000;
  box-shadow: 1px 4px 4px 1px #c2ff61;
}
.afterinfoconatiner {
  padding-top: 11px;
  padding-bottom: 84px;
}
.heading02 {
  color: $Nylon;
  font-style: italic;
  font-size: 20px;
}
.heading {
  display: flex;
  padding-left: 30px;
}
.cellbox {
  display: grid;
  row-gap: 20px;
  padding-inline: 40px;
  grid-template-columns: 2fr 2fr;
}
