@import '../../styles/index.scss';

.outter_container {
  background: white;
  padding: 30px 0;
}

.inner_container {
  flex-direction: column;
  width: 30%;
  border-radius: 10px;
  padding: 10px 0;

  @include respond(md) {
    width: 40%;
  }
  @include respond(sm) {
    width: 45%;
  }
  @include respond(xs) {
    width: 65%;
  }
}
.heading {
  font-size: 30px;
  @include respond(md) {
    font-size: 26px;
  }
  @include respond(xs) {
    font-size: 23px;
    -webkit-text-stroke-width: 1px;
  }
}
.image {
  width: 50%;
}
.details {
  width: 100%;
  flex-direction: column;
  // gap: 8px;
  .User_name_div {
    width: 80%;

    .User_name {
      border-radius: 10px;
    }
  }
}

.Button {
  border: none;
  background: #007dfe;
  width: 80%;
  height: 50px;
  border-radius: 10px !important;
}
.sub_heading3 {
  padding-top: 10px;
}

//@include respond(md) {
// font-size: 35px;
//}
