@import '../../../../styles/index.scss';

.dashboard_data {
  width: 1000px;
  background-color: black !important;
  padding-left: 30px;

  .table_dashboard {
    background-color: black !important;
  }
  .data_content {
    // color: white;
    border-bottom: 1px solid #00b666;
    width: 200px;
    text-align: center;
    size: 14px;
    padding: 5px;
  }
  .table_data {
    // color: white;
    border-bottom: 1px solid #ffffff;
    text-align: center;
    size: 14px;
    padding: 5px;
  }
}
